.venv/
__pycache__/
*.pyc
.DS_Store

.streamlit/secrets.toml

credentials.json
token.json
auth.json

invoice/json/*.json
invoice/pdf/*.pdf
invoice/receipts/*.json

assets/signature/signature.png 
config/brand_config.json
generate_token.py